/*
*  Design and Developed by:
*  Kuldeep Sahu
*  sahukuldeep912001@gmail.com
*  http://skywarrior09.gq
*/

.QuickInHomeSec {
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
}
